@* đón dữ liệu từ controller*@
@model SmartPhone.Models.EF.ResponseDataAdmin<SmartPhone.Models.EF.Policy>
@{
    var data = Model.data;
    var pageSize = Model.pageNumber;
    var pageNumber = Model.pageNumber;
    var pageCount = Model.pageCount;
}
<style>
    table th:nth-child(4), table td:nth-child(4) {
        width: 120px;
    }

    table th:nth-child(3), table td:nth-child(3) {
        width: 150px;
    }

    table th:nth-child(2), table td:nth-child(2) {
        width: 120px;
    }
</style>

<div class="data-table">
    <table id="myTable" class="table table-striped table-bordered text-left table-hover" style="background:#fff;">
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Điều hướng</th>
                <th>Thứ tự</th>
                <th>Trạng thái</th>
                <th>Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in data)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Slug</td>
                    <td>@item.Position</td>
                    @if (item.Status == 1)
                    {
                        <td><span class="badge badge-success">Hoạt động</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-danger">Khóa</span></td>
                    }
                    <td style="width:120px">
                        <div class="d-flex justify-content-between w-100">
                            <button class="btn-success btn-event btnEdit" data-id="@item.Id" title="Sửa"><i class="far fa-edit"></i> </button>
                            <button class="btn-info btn-event btnDetail" data-id="@item.Id" title="Chi tiết"><i class="fas fa-info-circle"></i> </button>
                            <button class="btn-danger btn-event btnDelete" role="button" data-id="@item.Id" title="Xóa"><i class="far fa-trash-alt"></i> </button>
                        </div>
                    </td>
                </tr>
            }

        </tbody>

        <tfoot>

        </tfoot>
    </table>

    <div class="pagination-container">
        <ul class="pagination">
            @if (pageCount <= 4)
            {
                for (int index = 1; index <= pageCount; index++)
                {
                    if (index == pageNumber)
                    {
                        <li class="active"><a data-index="@index">@index</a></li>
                    }
                    else
                    {
                        <li><a data-index="@index">@index</a></li>
                    }
                }
            }
            else
            {
                if (pageNumber <= 2)
                {
                    for (int index = 1; index <= 4; index++)
                    {
                        if (index == pageNumber)
                        {
                            <li class="active"><a data-index="@index">@index</a></li>
                        }
                        else
                        {
                            <li><a data-index="@index">@index</a></li>
                        }
                    }
                    <li><a class="nextPage" data-index="@pageCount"><i class="fas fa-chevron-right"></i></a></li>
                }
                else if (pageNumber >= pageCount - 2)
                {
                    <li><a class="prevPage" data-index="1"><i class="fas fa-chevron-left"></i></a></li>

                    for (int index = pageCount - 3; index <= pageCount; index++)
                    {
                        if (index == pageNumber)
                        {
                            <li class="active"><a data-index="@index">@index</a></li>
                        }
                        else
                        {
                            <li><a data-index="@index">@index</a></li>
                        }
                    }
                }
                else
                {
                    <li><a class="prevPage" data-index="1"><i class="fas fa-chevron-left"></i></a></li>
                    for (int index = pageNumber - 1; index <= pageNumber + 2; index++)
                    {
                        if (index == pageNumber)
                        {
                            <li class="active"><a data-index="@index">@index</a></li>
                        }
                        else
                        {
                            <li><a data-index="@index">@index</a></li>
                        }
                    }
                    <li><a class="nextPage" data-index="@pageCount"><i class="fas fa-chevron-right"></i></a></li>
                }
            }

        </ul>
    </div>



</div>



