@model SmartPhone.Models.EF.ImageInPage;
<style>
    th:nth-child(1), td:nth-child(1) {
        min-width: 200px;
    }
</style>
<h4>Chi tiết thông tin hình ảnh</h4>
<table>
    <tr>
        <th>Tiêu đề ảnh : </th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Chi tiết ảnh : </th>
        <td><img src="@Model.Image" alt="@Model.Name" width="200" height="120" style="object-fit:cover" /></td>
    </tr>

    <tr>
        <th>Số thứ tự : </th>
        <td>@Model.Position</td>
    </tr>

    <tr>
        <th>Người tạo : </th>
        <td>@Model.CreatedBy</td>
    </tr>

    <tr>
        <th>Ngày tạo : </th>
        <td>@Model.CreatedDate</td>
    </tr>

    <tr>
        <th>Người cập nhật : </th>
        <td>@Model.UpdatedBy</td>
    </tr>

    <tr>
        <th>Ngày cập nhật : </th>
        <td>@Model.UpdatedDate</td>
    </tr>

    <tr>
        <th>Trạng thái</th>
        @if (Model.Status == 1)
        {
            <td><span class="badge badge-success">Hoạt động</span></td>
        }
        else
        {
            <td><span class="badge badge-danger">Ngừng hoạt động</span></td>
        }
    </tr>
</table>

