@model SmartPhone.Models.EF.Account;
<style>
    th:nth-child(1), td:nth-child(1) {
        min-width: 200px;
    }
</style>
<h4>Chi tiết thông tin người dùng</h4>
<table>
    <tr>
        <th>Tên: </th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Chi tiết ảnh : </th>
        <td><img src="@Model.Image" alt="@Model.Name" width="120" height="70" style="object-fit:cover" /></td>
    </tr>
    <tr>
        <th>Ngày sinh : </th>
        @if (Model.Birthday != null)
        {
            <td>@Model.Birthday.Value.ToString("dd/MM/yyyy")</td>
        }
        else
        {
            <td></td>
        }

    </tr>
    <tr>
        <th>Email : </th>
        <td>@Model.Email</td>
    </tr>

    <tr>
        <th>Số điện thoại : </th>
        <td>@Model.Phone</td>
    </tr>

    <tr>
        <th>Địa chỉ : </th>
        <td>@Model.Address</td>
    </tr>

    <tr>
        <th>Người tạo : </th>
        <td>@Model.CreatedBy</td>
    </tr>

    <tr>
        <th>Ngày tạo : </th>
        <td>@Model.CreatedDate</td>
    </tr>

    <tr>
        <th>Người cập nhật : </th>
        <td>@Model.UpdatedBy</td>
    </tr>

    <tr>
        <th>Ngày cập nhật : </th>
        <td>@Model.UpdatedDate</td>
    </tr>

    <tr>
        <th>Trạng thái</th>
        @if (Model.Status == 1)
        {
            <td><span class="badge badge-success">Hoạt động</span></td>
        }
        else
        {
            <td><span class="badge badge-danger">Ngừng hoạt động</span></td>
        }
    </tr>
</table>